* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkgrey;
}

header {
    padding: 8px;
    height: 100px;
    background-color: black;
    text-align: center;
}

main {
    display: initial;
    align-items: center;
}

.img1 {
    width: 100%;
}

.link {
    text-decoration: none;
    color: black;
}

.titulo {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.subtitulo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1200px;
}

.intro {
    margin-top: 5px;
    margin-bottom: 10px;
}

.titulos {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title {
    text-align: center;
}

.tripulação {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.Filmes {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

footer {
    height: 100px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: px;
    margin-top: 30px;
}

@media (max-width:960px) {
     :root {
        --space-default: 20px
    }
    main {
        grid-template-columns: repeat(1fr);
    }
    .description {
        grid-row: 2;
        grid-column: 1/-1;
        place-self: center;
        text-align: center;
    }
    .action {
        grid-row: 2;
        grid-column: 1/-1;
        place-self: end center;
    }
    footer {
        display: none;
    }
    @media (max-width:640px) {
        .title {
            transform: translateY(10%);
        }
        .description__title {
            font-size: 10vw;
        }
        .description__text {
            display: none;
        }
        .action {
            width: 100%;
        }
    }
}

li {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

h2 {
    width: 100%;
    align-items: center;
}

h4 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    text-align: center;
}